<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("navbar"); -%>
    <main>
      <h1>Welcome <%=username %></h1>
      <h2>Viewing <%= content.name %></h2>

      <% if (content.type !== "Root") { %>
      <a href="<%= `/folders/${content.id}/delete` %>">Delete folder</a>
      <% } %> <% if (locals.content.type !== "Root") { %>
      <form method="POST" action="<%= `/folders/${content.id}/edit` %>">
        <label for="editedFolder">Name</label>
        <input id="editedFolder" name="folderName" required />
        <button>Edit Folder</button>
      </form>

      <% } %> <%- include("folderForm"); -%> <%- include("fileForm"); -%>

      <div>
        <% if (!content.nestedFolders.length && !content.files.length) { %>
        <p>This folder is empty</p>
        <%} else { %>
        <ul>
          <% content.nestedFolders.forEach(fol => { %>
          <li><a href="<%= `/folders/${fol.id}` %>"><%= fol.name %></a></li>
          <%}) %> <% content.files.forEach(fil => { %>
          <li><a href="<%= `/files/${fil.id}` %>"><%= fil.name %></a></li>
          <% }) %>
        </ul>
        <% } %>
      </div>
    </main>
  </body>
</html>
