<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include("navbar"); -%>
    <h1>Sign Up</h1>
    <form method="POST">
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        required
        minlength="3"
        value="<%=(locals.username || '')%>"
      />

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        required
        value="<%=(locals.email || '')%>"
      />

      <label for="pw">Password:</label>
      <input type="password" id="pw" name="password" minlength="8" required />

      <label for="confirmPw">Confirm Password:</label>
      <input
        type="password"
        id="confirmPw"
        name="confirmPw"
        minlength="8"
        required
      />
      <button>Sign Up</button>
    </form>
    <% if (locals.errors) { %>
    <p>
      Placeholder error for non matching passwords or re-used email addresses
    </p>
    <% } %> <% if (locals.dbError) { %>
    <p><%= dbError %></p>
    <% } %>
    <p>Already have an account? <a href="log-in">Log In</a> here!</p>
  </body>
</html>
